<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="text">
      {{comment_text}}
      <br><span>- {{user.username}} on {{format_date created_at}}</span>
    </div>    
  </section>
  {{/each}}
</div>