<article class="post">
  <a href="/dashboard/edit/{{id}}">
  <div class="title">
    <p>{{title}}</p>
    <p>Posted by {{user.username}} on {{format_date created_at}}</p>   
  </div>  
  </a>
</article>