<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
      <label for="description">Content</label>
      <input id="description" name="description" />
      <button type="submit" class="btn">+ New Post</button>
    </div>
  </form>
<script src="/javascript/add-post.js"></script>
