<section>
  <a href="/dashboard/new-post" class="new-post">+ New Post</a>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> dashboard-post post}}      
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

