<article class="login-page">
  <form class="login-form">
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
    <div>
      <button type="submit">login</button>
      <br>
      <a href="/signup">Signup Instead</a>
    </div>
  </form>
</article>

<script src="/javascript/login.js"></script>