:root {
  --color-primary: hsl(29, 93%, 26%);
  --color-secondary: hsl(39, 90%, 36%);
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: var(--color-primary);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--color-secondary);
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

form label {
  display: block;
}
header h1 {
  color: var(--color-primary);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--color-secondary);
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
}
.post:hover {
  border-color: var(--color-secondary);
}
.title:hover  {
  background-color: var(--color-secondary);
}

.title {
  background-color: var(--color-primary);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.meta {
  padding: 10px;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  padding-top: 15px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  margin-bottom: 5%;
  width: 100%;
}
.comment-form div {
  padding: 15px 0 10px 0;
  text-align: center;
  background-color: lightgrey;
}
.comment-body, .comment-submit {  
  min-width: 90%;  
  text-align: center;
}
.comment-body {
  min-height: 100px;
}

.comment {
  padding-top: 10px;
  margin: 1%;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}
.text {
  background-color: white;
  padding: 5px 0 0 5%;
  line-height: 1.5;
}
.text span {
  padding-left: 5%;
}

.new-post {
  text-align: center;
}
.new-post-link {
  background-color: var(--color-secondary);
  color: white;
  padding: 15px;
  border-radius: 5px;
}
.new-post-link:hover {
  background-color: var(--color-primary);
}

.new-post-form input {
  width: 300px;
}

.edit-post-form, .new-post-form {
  padding-top: 15px;
  margin-bottom: 5%;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.edit-post-form div, .new-post-form div {
  padding: 10px;
  background-color: #fff;
}

.edit-post-form div input, .new-post-form div input {
  width: 100%;
  min-height: 50px;
}
.edit-post-form div p, .new-post-form div p {
  margin-bottom: 0;
}
.edit-post-form div button, .new-post-form div button {
  width: 100%;
  margin: 5px;
}

.signup-page, .login-page {
  margin: auto;
  width: 50%;
  padding-top: 15px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.signup-form, .login-form {
  background-color: #fff;
  padding: 5px;
}

.signup-form label, .login-form label {
  margin-top: 15px;
}

.signup-form input, .login-form input {
  width: 100%;
  min-height: 50px;
}
.signup-form div, .login-form div {
  text-align: center;
}

.signup-form div button, .login-form div button {  
  padding: 10px 40%;
  margin: 10px;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}